<!-- <myfirst></myfirst>  -->
<!-- <app-my-second></app-my-second>   -->
<!-- <app-databinding-string-interpolation></app-databinding-string-interpolation> -->
<!-- <app-property-binding></app-property-binding>     -->
<!-- <app-event-binding></app-event-binding>     -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> --> 
<!-- <app-diretiva-ng-style></app-diretiva-ng-style> -->
<!-- <app-ng-class></app-ng-class>  -->
<!-- <app-ng-if></app-ng-if>   -->
<!-- <app-ng-for></app-ng-for>    -->
<!-- <app-ng-for-form></app-ng-for-form>   -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-template></app-ng-template>  -->
<!-- <app-ng-container></app-ng-container>  -->
<!-- <app-ng-content>  
    <p>My name is <strong>Homer Simpson</strong>, nice to meet you.</p>
    <p>One beer, please!</p>
</app-ng-content>    -->
<!-- <app-input-binding 
    name="Pitt" 
    lastName="Raiser"  
    [age] ="33" > 
</app-input-binding>  -->  
<!-- <app-event></app-event> -->
<!-- <app-clients></app-clients> -->
<!-- <app-parent-child></app-parent-child>   -->
<!-- <app-on-changes></app-on-changes> -->
<!-- <app-intercepting></app-intercepting> -->
<!-- <app-main-life-cycle></app-main-life-cycle>   -->
<!-- <app-check test=""></app-check> -->

<!-- <mat-slide-toggle #toggle1>Component 1</mat-slide-toggle>
<mat-slide-toggle #toggle2>Component 2</mat-slide-toggle>
<mat-slide-toggle #toggle3>Component 3</mat-slide-toggle>
<mat-slide-toggle #toggle4>Component 4</mat-slide-toggle>
<app-component1 *ngIf="toggle1.checked"></app-component1>
<app-component2 *ngIf="toggle2.checked"></app-component2>
<app-component3 *ngIf="toggle3.checked"></app-component3> 
<app-component4 *ngIf="toggle4.checked"></app-component4> -->

<!-- <mat-tab-group>
    <mat-tab label="New Department">
        <app-department-from></app-department-from>
    </mat-tab>
    <mat-tab label="New Product"> 
        <app-product-form></app-product-form>    
    </mat-tab>
    <mat-tab label="Products"> 
        <app-products-table></app-products-table>
    </mat-tab>
</mat-tab-group> -->

<!-- <app-basic></app-basic>  -->
 
<!-- <app-cold-observables></app-cold-observables> -->
<!-- <app-hot-observables-intro></app-hot-observables-intro> -->
<!-- <app-hot-observables></app-hot-observables> -->
<app-subjects></app-subjects>