<mat-card class="mycard">
    <mat-card-header>
        <mat-card-title>Homer Simpson</mat-card-title>
        <mat-card-subtitle>Duff!</mat-card-subtitle>
    </mat-card-header>
    <img src="https://vignette.wikia.nocookie.net/simpsons/images/b/bd/Homer_Simpson.png/revision/latest/top-crop/width/360/height/360?cb=20140126234206" 
    alt="Homer Simpson" title="Homer Simpson" />
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent">Link</button>
        <button mat-raised-button color="primary">Share</button>
    </mat-card-actions>
</mat-card>